<div class="quiz__container">

   <div class="quiz_logo">
      <img src="assets/imgs/scooby_doo_logo.png" alt="Logo Scooby-Doo">
      <h3>{{ title }}</h3>
   </div>

   <div *ngIf="!finished" class="quiz_questions">
      <img src="{{ photoCover }}" alt="Scooby-Doo e toda a equipe do Mistério S.A.">
      <h3>{{ questionSelected.question }}</h3>
   </div>

   <div *ngIf="!finished" class="quiz_options">

    <button
        *ngFor="let option of questionSelected.options; let i = index"
        (click)="playerChoose(option.alias)"
        class="btn-option"
    >
      {{ option.name }}
    </button>

   </div>

   <div *ngIf="finished" class="quiz_results">
    <h1>O seu resultado é:</h1>
    <p>{{ answerSelected }}</p>
    <img src="assets/imgs/scooby-doo-misterio-sa.jpg" alt="Scooby-Doo e toda a equipe do Mistério S.A.">
   </div>
</div>
